@import "minMaxSize.scss";

%heading-L, %heading-M, %heading-S, %heading-XS  {
    font-size: 56px;
	line-height: 71px;
    font-weight: bold;
    color: black;
}
%heading-M {
	font-size: 24px;
	line-height: 31px;
}
%heading-S {
	font-size: 20px;
	line-height: 26px;
}
%heading-XS {
	font-size: 16px;
	line-height: 21px;
}

%box-shadow {
	--shadow-color: black;
	border: 3px solid var(--shadow-color);
	box-shadow: 0px 10px 0px var(--shadow-color);
}

%box-shadow-hoverable {
	@extend %box-shadow;
	&:hover {
		--shadow-color: var(--dark-purple)
	}
}

%small-button {
	background: var(--dark-purple);
	border-radius: 20px;
	color: white;
	border: none;
	padding: 10px 20px;
	font-weight: bold;

	&:hover {
		background: var(--pink);
	}
}